HTML, BODY
{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	background: #F8FCFE;
	overflow: hidden;
}
#app{
	
}
#holder{
	
}
#content{
	padding: 5px;
	margin: 5px;
	overflow: hidden;
	margin-bottom: 12px;
}
#footer
{
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA7CAIAAAA1lncVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpcTbsOgDAIhEtM//+nXFzcTYxfoU6chRKrHcgB98K2HzivGyQhIjGkI3P//vnj33vQOt93RwXNIFp9lTNa+wU2Tc/UxNYpzmWXhifv7B3zXeP5oU2+TAXrMj8CDAA+VFkbUEmEBAAAAABJRU5ErkJggg==);
}
#footer > span {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

/* CSS3 Buttons Without Images */
 
.button {
	cursor: pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
 
	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
 
	padding:5px 5px 5px 5px;
}
 
.button:hover {
	background:rgba(240,240,240,1);
}
 
.button:active, button:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}
 
.button:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}
 
/* ================================ */

.box {
  padding-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.box .one {
  -webkit-box-flex: 1;
}
.box .three {
  -webkit-box-flex: 3;
}
#name{
	font-size: 2em;
	line-height: .5em;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#size{
	font-size: 1.2em;
	line-height: .1em;
}
#size  > span{
	font-size: 1.25em;
}
#files{
	list-style: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding:0;
	margin-left: 10px;
	overflow-y: scroll!important;
	overflow-x: hidden;
	height: 230px;
}
#files li {
	padding-left: 3px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#meta{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA7CAIAAAA1lncVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpcTbsOgDAIhEtM//+nXFzcTYxfoU6chRKrHcgB98K2HzivGyQhIjGkI3P//vnj33vQOt93RwXNIFp9lTNa+wU2Tc/UxNYpzmWXhifv7B3zXeP5oU2+TAXrMj8CDAA+VFkbUEmEBAAAAABJRU5ErkJggg==);
}

#files li:not(:first-child) p {
	margin: 3px 0;
}
#files li p {
  	-webkit-box-flex: 1;
	font-size: 1em;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#files li p:first-child {
  	-webkit-box-flex: 4;
}
#files li:not(:first-child) p:not(:first-child) {
	margin: 3px -5px;
}
#files li:nth-child(even) {
  background: white;
}
#title{
	font-size: 1.2em;
	line-height: .1em;
}